[submodule "browserid"]
        path = myfavoritebeer/browserid
        url = git://github.com/davehunt/bidpom.git
[submodule "123done/browserid"]
	path = 123done/browserid
	url = git://github.com/davehunt/bidpom.git
